@font-face {
    font-family: 'black_jackregular';
    src: url("../fonts/blackjack/blackjack-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Light';
    src: url("../fonts/Proxima Nova/Proxima Nova Light.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Regular Italic';
    src: url("../fonts/Proxima Nova/Proxima Nova Regular Italic.otf") format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Bold Italic';
    src: url("../fonts/Proxima Nova/Proxima Nova Bold Italic.otf") format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Proxima Nova Semibold Italic';
    src: url("../fonts/Proxima Nova/Proxima Nova Semibold Italic.otf") format('woff');
    font-weight: normal;
    font-style: italic;
}

header {
    background: #62c2e7 url("../img/header/header-bg.png") repeat-x ;
    height: 100vh;
}
header .bg-img {
    background: url("../img/header/iphone.png") 24% 210%  no-repeat;
    height: 100vh;
}
.logo {
    background: url("../img/header/logo.png")  no-repeat;
    width: 125px;
    height: 115px;
}
.nav {
    margin-top: 40px;
    float: right;
}
.menu img {
    margin-left: 16px;
}
.menu {
    display: none;
    background: #e57f85;
    position: fixed;
    z-index: 100;
    width: 100%;
    height:100vh;
    padding-top: 100px;
}
.menu .icon {
    background: url("../img/header/circul-shape.png") no-repeat;
    height: 70px;
    padding-top: 15px;
}
.menu a {
    color: #ffffff;
    padding-left: 50px;
    font-family: "Proxima Nova Bold Italic", sans-serif;
    font-size: 16px;
}
 .menu  a:hover {
    color: #6dc5ea;
}
.menu .home {
    margin-top: 100px;
}
.menu a.close {
    border: none;
    background: transparent url("../img/header/close-icon.png") no-repeat;
    width: 20px;
    height: 20px;
}
.header-content {
    color: #ffffff;
    text-align: right;
}
.header-content h1 {
    margin-top: 55px;
    font-family: black_jackregular, sans-serif;
    font-size: 70px;
}
.header-content h2 {
    font-family: "Proxima Nova Light" , sans-serif;
    font-size: 35px;
}
.header-content span {
    font-family: "Proxima Nova Bold Italic", sans-serif;
    font-size: 35px;
}
.header-content button {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 15px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
    width: 170px;
    height: 57px;
    margin-top: 40px;
    margin-bottom: 100px;

}
.about-us {
    background: #f4f4f4 url("../img/about-us/ipad-icon.png") 100% 152px no-repeat ;
}
.about-us h2 {
    margin-top: 140px;
    text-shadow: 1px 1px 1px #fff;
}
.about-us p {
    margin-top: 30px;
    text-shadow: 1px 1px 1px #fff;
}
.about-us h3 {
    font-family: "Proxima Nova Regular Italic", sans-serif;
    font-size: 16px;
    border-left: 5px solid #4eacdd;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #fff;

}
.about-us button {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 15px;
    background: transparent;
    border: 2px solid #14af8f;
    border-radius: 3px;
    width: 170px;
    height: 57px;
    color: #14af8f;
    margin: 70px 0 140px 15px;
}
.portfolio {
    background: #ffffff url("../img/about-us/devices.png") 0 287px no-repeat ;
}
.portfolio h2 {
    margin: 100px 0 35px -15px;
}
.portfolio h3 {
    font-family: "Proxima Nova Semibold Italic", sans-serif;
    font-size: 16px;
    margin: 0 0 35px -15px;
}
.portfolio p {
    margin: 0 0 65px -15px;
    text-shadow: 1px 1px 1px #fff;

}
.portfolio button {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 15px;
    background: transparent;
    border: 2px solid #ea4c89;
    border-radius: 3px;
    width: 220px;
    height: 57px;
    color: #ea4c89;
    margin: 0 0 240px -15px;
}
.donate {
    background: #ffffff url("../img/donate/bg.png") ;
    text-align: center;
    color: #ffffff;
}
.donate h2 {
    margin: 100px 0 0;
}
.donate button {
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 15px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
    width: 220px;
    height: 57px;
    color: #ffffff;
    margin: 30px 0 110px -15px;
}
.contact {
    background: #f4f4f4;
}
.contact a {
    display: inline-block;
    height: 57px;

}
.contact .ball {
    background: url("../img/contact/dribble--con.png") center no-repeat;
    border: 3px solid #545454;
    border-radius: 50%;
    width: 57px;
}
.contact .fb {
    background: url("../img/contact/facebook-icon.png") center no-repeat;
    border: 3px solid #545454;
    border-radius: 50%;
    width: 57px;
}
.contact .tw {
    background: url("../img/contact/twitter-icon.png") center no-repeat;
    border: 3px solid #545454;
    border-radius: 50%;
    width: 57px;
}
.contact .paper {
    background: url("../img/contact/paperplane-icon.png") center no-repeat;
    border: 3px solid #545454;
    border-radius: 50%;
    width: 57px;
}
.contact .email-form {
    margin-top: 65px;
}
.contact form {
    margin: 0 0 200px;
    padding: 10px ;
    text-align: center;
}
.contact .centered {
   padding-top: 210px;
}
.contact label {
    font-family: "Proxima Nova Semibold Italic", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: #545454;
}
.contact input {
    border: 1px solid white;
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    height: 35px;
    margin-left: 20px;
    padding: 5px 40px 5px 15px;
    width: 220px;
    font-family: "Proxima Nova Semibold Italic", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #d3d3d3;
}
.contact .email-form img {
    display: inline;
    padding-left: 6px;
    position: absolute;
    right: 15px;
    bottom: -2px;
}
.contact button {
    border: none;
    padding: 0;
    position: relative;
}
footer {
    text-align: center;
    background: #ffffff;
}
footer p {
    font-size: 12px;
    width: 100%;
    padding: 50px 0 40px;
}
footer a {
    color: #6dc5ea;
    text-decoration: none;
}
footer a:hover {
    color: #6dc5ea;
}
footer .it {
    font-family: "Proxima Nova Regular Italic", sans-serif;
    font-style: italic;
}
.main-wrapper {
    background: #7e7e7e;
}
.main-wrapper h2 {
    font-family: "Proxima Nova Light" , sans-serif;
    font-size: 40px;
}
.main-wrapper p {
    font-family: "Proxima Nova Regular" , sans-serif;
    font-size: 16px;
}
button,
button:hover,
button:active {
    outline: none;
}


@media (min-width:320px) and (max-width: 599px) {
    .menu {
        padding-top: 20px;
    }
    .menu .home {
        margin-top: 35px;
    }
    .menu a {
        padding-left: 30px;
        font-size: 15px;
    }
    .header-content h1 {
        margin-top: 35px;
        font-size: 60px;
    }
    .header-content h2 {
        font-size: 30px;
    }
    .about-us h2 {
        margin-top: 60px;
    }
    .about-us p {
        margin-top: 65px;
    }
    .main-wrapper h2 {
        font-size: 30px;
    }
    .contact .email-form img {
        left: 82px;
        bottom: 24px;
    }
    .contact .centered {
        padding-top: 110px;
    }
    .contact form {
        margin: 0 0 100px;
    }
    .contact input {
        margin-top: 20px;
    }
    button:hover, button:active {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
}
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
@media (min-width: 320px) {
    .container{
        max-width: 290px;
    }
}
@media (min-width: 600px) {
    .container{
        max-width: 540px;
    }
}
@media (min-width: 600px) {
    .container{
        max-width: 540px;
    }
}
@media (min-width: 800px) {
    .container{
        max-width: 700px;
    }
}
@media (min-width: 1000px) {
    .container{
        max-width: 900px;
    }
}